body{
background-color: black;
font-family: 'Times New Roman', Times, serif;
}
.card{
    background-color: white;
    align-content: center;
    margin: auto;
    text-align: center;
    max-width: 15rem;
    border-radius: 10px;
    overflow: hidden;
}
.card-footer{

}
h3{
    color: #566eb0;
    margin: 2px;
    text-align: center;
}
h1{
    color:black;
    text-align: center;
    margin-top: 5px;
}
p{
    color: gray;
    text-align: center;
    margin: 20px;
}
.card img{
    width: 100%;
}
.card-footer{
    background-color: gray;
    color: white;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 1px;

}
.card-footer-item{
    background-color: #566eb0;
    padding: .5rem;
}
.card-footer-item-subtitle{
    color: white;
    text-align: center;
    font-size: 0.5rem;
}
.card-footer-item-title{
    color: white;
    text-align: center;
    font-size: 1rem;
}

@media screen and (min-height: 1000px){
    html{
        font-size: 32px;
    }
}