@import 'styles.css';

.hero-image img {
    width: 220px;
    height: 280px;
    object-fit: cover;
    border: 2px solid #77878B;
    border-radius: 1rem;
    margin-bottom: 1rem;
}

main {
    display: flex;
    flex-direction: row;
    max-width: 900px;
    margin: 2rem auto 0 auto;
    gap: 2.5rem;
    align-items: flex-start;
    padding: 0 1rem;
}

.logo img {
    width: 8rem;
    height: 8rem;
    border-radius: 75%;
    border: 2px solid #77878B;
    object-fit: cover;
}

h1 {
    text-align: center;
}

nav {
    display: flex;
    justify-content: space-evenly;
    flex: 1;
    margin-top: 1rem;
    gap: 0;
}