*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

.hero {
    background-image: url("images/w05_circles.jpg");
    background-size: cover;
    background-position: center;
    height: 798px;
}

.circle-row {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 150px;
    padding: 90px 20px;
    background-color: #666666;

}

.circle-row img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 50%;
    border: 17px solid #333333;
}