*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

.hero {
    background-image: url("images/w05_circles.jpg");
    background-size: cover;
    background-position: center;
    height: 300px;
}

.circle-row {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding: 50px 20px;
    background-color: #5e5e5e;

}

.circle-row img {
    width: 160px;
    height: 160px;
    object-fit: cover;
    border-radius: 50%;
    border: 6px solid #333;
    background-color: white;
}